/* body{
    background-color: rgb(249, 127, 180);
}
#header{
    color: aqua;
    background-color: beige;
}
.box{
    border:1px solid black;
    height: 200px;
    width: 100px;
    background-color: brown;
} */
 /* button{
    background-color: red;
    color: white;
 } */

 .newClass{
    background-color: green;
 }